$background: #3598dc; 
$color: #fff; 
$commonbackground:#282c34;
$colorblack:black;
$padding:20px 10px 10px 10px;

@mixin displexProperty {
    width:100%;
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
  
  }

  @mixin textalign($textalign){
   text-align: $textalign;
  }